*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: relative;
}

#book-display {
    display: flex;
}

#add-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin-bottom: 5vh;
    margin-right: 5vh;
    color: white;
    background-color: rgb(48, 155, 27);
    font-size: 8vh;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    outline: none;
    z-index: 3;
    padding: 0;
    transition: all .2s ease;
    box-shadow: 0 0 0.9px 2px rgba(0, 0, 0, 0.1);
}

#add-btn:hover {
    transform: rotate(90deg) scale(1.2);
}

#form-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(4px);
    display: none;
}

#add-form {
    background-color: white;
    padding: 0 2em;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 2px 1px white;
}

#close-form-btn, .close-book-btn {
    padding: 0;
    border: none;
    appearance: none;
    background-color: transparent;
    font-size: 1.8em;
    float: right;
    transform: rotate(45deg);
    outline: none;
    cursor: pointer;
    margin-top: .5em;
    transition: all .2s ease;
}

#close-form-btn:hover, .close-book-btn:hover {
    transform: rotate(135deg) scale(1.4);
}

#form-header {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    margin-top: .7em;
}

.form-field {
    margin: 0.8em 0;
}

.form-field input, .form-field select {
    width: 400px;
    height: 2.8em;
    outline: none;
    font-size: 1em;
    display: block;
    border: 1px solid rgb(151, 151, 151);
}

.form-field label {
    font-size: 1.2em;
}

#submission-container {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 2em 0;
}

#submission-container button {
    height: 2em;
    width: 7em;
    cursor: pointer;
    outline: none;
    appearance: none;
    border: none;
    background-color: rgb(230, 230, 230);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid black;
}

#reset-form:hover {
    background-color: rgb(148, 2, 2);
    color: white;
}

#submit-form:hover {
    background-color: green;
    color: white;
}

.error-msg {
    color: red;
    display: none;
    margin: 0;
    margin-right: 0.5em;
    float: right;
    padding: 0;
}

.book {
    background-color: burlywood;
    margin: 1em;
    padding: 0 2em;
    padding-bottom: 1em;
    width: fit-content;
    min-width: 18em;
    height: fit-content;
    font-size: 1.1em;
    position: relative;
}

.close-book-btn {
    position: absolute;
    top: 0.1em;
    right: 0.4em;
    margin: 0;
    font-size: 1.5em;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    margin-top: 1.3em;
}

.author, .date, .pages {
    margin: .5em 0;
}

.read-container {
    margin-top: 1.5em;
    float: right;
}

.read-container p {
    margin: 0;
    margin-right: .8em;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
}

.toggle-container {
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 1em;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: .8em;
    box-shadow: 0 0 0 .5px white;
}

.toggle-span::before {
    position: absolute;
    content: '';
    height: .9em;
    width: .9em;
    left: .05em;
    bottom: .05em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.toggle-input:checked + .toggle-span {
    background-color: #2196F3;
}

.toggle-input:checked + .toggle-span::before {
    -webkit-transform: translateX(1.2em);
    -ms-transform: translateX(1.2em);
    transform: translateX(1.2em);
}