body {
    font-family: 'Source Sans Pro', sans-serif;
}

#book-display {
    display: flex;
}

#add-book {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    background-color: rgb(48, 155, 27);
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    outline: none;
}

.book {
    background-color: burlywood;
    margin: 10px;
    padding: 15px;
}

.title {
    font-size: large;
}