*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    position: relative;
    white-space: nowrap;
}

/*
 * Container
 */

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

/*
 * Backgrounds
 */

.primary-bg {
    background: #9b301b;
}

.secondary-bg {
    background: rgb(48, 155, 27);
}

.button-bg {
    background: rgb(230, 230, 230);
}

.unread {
    background: rgb(49, 82, 42);
}

/*
 * Buttons
 */

button {
    color: inherit;
    border: none;
    background: transparent;
    font: inherit;
    padding: 0;
    cursor: pointer;
}

.close-btn {
    transition: transform .2s ease 0.1s;
}

.close-btn::before {
    display: block;
    content: "+";
    transform: rotate(45deg);
}

.close-btn:hover {
    transform: rotate(90deg) scale(1.4);
}

.add-btn {
    width: 100%;
    height: 100%;
    position: relative;
}

.add-btn::before {
    content: "+";
}

/*
 * Input and select
 */

input, select {
    font: inherit;
}

/*
 * Borders
 */

.primary-border {
    border: 0.1rem solid #fff;
}

.secondary-border {
    border: 0.1rem solid #000;
}

.rounded-border {
    border-radius: 5px;
}

/*
 * Page header
 */

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2.5em;
}

#h1-container {
    display: flex;
}

/* website logo */
.website-logo {
    height: 3em;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 0.5em;
}

#library-data {
    padding: 1em 1.5em;
}

#library-data .data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2em;
}

.total-books {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0.7em;
}

.unread-books {
    margin-bottom: 0.3em;
}

/*
 * Main container
 */

main {
    padding: 0 2.5em 1.5em 2.5em;
    height: 100vh;
}

/*
 * Sorting area
 */

.sort-container {
    padding: 0.25em 1.5em;
    margin-bottom: 1.5em;
}

.sort-container select {
    padding: 0 0.5em;
}

label[for="sort-by"] {
    margin-right: 0.5em;
}

/*
 * Book cards area
 */

#book-display {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.book {
    flex-basis: 320px;
    padding: 0.5em 0.8em 1em 1.5em;
    font-size: 1.1em;
    box-shadow: 3px 3px 15px 1px black;
    transition: 0.2s;
}

.book:hover {
    transform: scale(1.1);
}

.book header {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
}

/* move close button to the right */
.book .close-btn {
    margin-left: auto;
    align-self: flex-start;
}

.title {
    margin-top: 0.7em;
}

.book h3 {
    margin: 0.5em 0;
}

.read-container {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

.read-container p {
    font-size: 0.8em;
}

/*
 * Toggle button
 */

.toggle-container {
    position: relative;
    width: 2.2em;
    height: 1em;
}

/* is used only for its checkbox feature */
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* toggle button visible container */
.toggle-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: .8em;
    box-shadow: 0 0 0 .5px white;
    background: #000;
}

/* actual toggle */
.toggle-span::before {
    position: absolute;
    content: '';
    height: 90%;
    width: 40%;
    left: 1px;
    top: 5%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* change color of button's background when book is marked as read */
.toggle-input:checked + .toggle-span {
    background-color: #9b1b70;
}

/* move toggle across button when book is marked as read */
.toggle-input:checked + .toggle-span::before {
    -webkit-transform: translateX(1.2em);
        -ms-transform: translateX(1.2em);
            transform: translateX(1.2em);
}

/* when book is hovered, readjust vertical placement of toggle to keep aligned
within its container */
.book:hover .toggle-span::before {
    top: 4%;
}

/*
 * Add book button
 */

.add-book-wrapper {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
    width: 8vh;
    height: 8vh;
    font-size: 7vh;
    font-weight: 600;
    border-radius: 50%;
    transition: all .2s ease;
}

.add-book-wrapper:hover {
    transform: rotate(90deg) scale(1.2);
}

/*
 * Add book form
 */

 /* overlay to cover entire content and serve as form container */
#form-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    width: 100%;
    backdrop-filter: blur(4px);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#add-form {
    width: 100%;
    max-width: 450px;
    margin: 4em auto 0 auto;
    border-radius: 15px;
    padding: 1em 1.5em 1.5em 1.5em;
}

#add-form header {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
}

#add-form .close-btn {
    align-self: flex-start;
    /* moves close button to the right */
    margin-left: auto;
}

#add-form h2 {
    margin: 0.5em 0 0 auto;
}

.form-field {
    margin: 1em 0;
}

.form-field label {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0.1em;
}

.form-field h3 {
    font-size: 1.2em;
}

.form-field input, .form-field select {
    width: 100%;
    padding: 0.5em;
}

#submission-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2.5em 0 1.5em 0;
    color: #000;
    font-weight: 600;
}

#submission-container button {
    padding: 0.5em 2em;
}

#submission-container button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/*
 * Responsiveness
 */

/* standard mobile display */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
    
    .primary-header {
        flex-direction: column;
        align-items: stretch;
        gap: 1em;
        padding: 2.5em 1.5em;
    }

    #h1-container {
        align-self: center;
    }

    main {
        padding: 0 1.5em 1.5em 1.5em;
    }

    #book-display {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .book {
        flex-basis: auto;
        min-width: 100%;
        min-height: 25vh;
        white-space: normal;
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5em;
    }

    .book:hover {
        transform: none;
    }

    .read-container {
        margin-top: auto;
    }

    .add-book-wrapper {
        bottom: 35px;
        right: 25px;
    }
}

/* medium and small mobile display */
@media screen and (max-width: 374px) {
    .sort-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25em 1em;
    }
}